header{
   

  

    @include set-background($dark-color);
    ul{
        display: flex;
        user-select: none;
        width: 890px;
 .logo{

    padding: 5px 5px;
    cursor:pointer;
 
    li{
        padding: 0px 10px;
        border: solid 1px rgb(102, 101, 101);
        background-color: rgb(230, 227, 227);
        color: teal;
       
     
        cursor:pointer;
    }
 }
    /* Dropdown Button */
.dropbtn {
    cursor:pointer;
    list-style-type: none;
    font-size: 1.1rem;
    padding: 6px 10px;
    transition: all 0.2s ease-in;
 
  }
  .dropbtn:hover{
    background:lighten($dark-color, 15%)
}
  

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}
  .hide {display:none;}
}
}


.sub_header{
        
        display: flex;
        padding:8px 5px 0px 5px;
        justify-content: flex-start;
        cursor: pointer;
        user-select: none;
        gap: 10px;
        width: 890px;
       
      img{
        //   border: 1px solid black;
        width:27px;
        height:27px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        outline-color: rgba(3, 3, 3, 0.733);
        outline-width: 1px;
        padding:3px;
        border-radius:5px;
           transition: all 0.2s ease-in;
       
      }
      img:hover {
          background-color: rgba(160, 158, 158, 0.712)
      }
      select{
          border-radius: 5px;
          height: 30px;
      }
      option{
          background-color:rgb(246, 246, 246);
        //   font-size: 12px;
      }
      .file_name_container{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(2, 100, 118);
      margin: 0 4px 4px 4px;
      padding: 0 5px;
      color: #fff;
      }
      #file_name{
            display: inline-block;
            max-width: 100px;
            white-space: nowrap;
            overflow: hidden !important;
            text-overflow: ellipsis;
      
      }
      .canvas-options-container{
            position: relative;
        
       
            .canvas-options{
            z-index: 3;
            background-color:rgb(240, 240, 240);
            position:fixed;
            padding: 5px 8px;
            height:70px;
            width: 220px;
            margin:4px 0 0 0;
          border-radius: 4px;
        transition: transform 0.3s ease-in-out;
          animation-name: modalOpen;
        animation-duration: 0.4s; 
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        
          
            .close-container{
                display: flex;
                justify-content: flex-end;
                padding: 0;
                margin: 0;
                span{
                    padding:0 5px;
                    border-radius:4px;
                }
                span:hover{
                    background-color:rgb(211, 211, 211);
                }

            }
            .canvas-options-btn{
                list-style: none;
                
                .canvas-option-background{
                    display: flex;
                    justify-content: flex-start;
                    gap: 11px;
                    margin-bottom: 10px;
                    align-items: center;
                  
                }

             
                input[type="color"]{
                height: 25px;
                width: 25px;
                cursor: pointer;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

                }
           
                img{
                    width: 25px;
                    height:25px
                }
     
              
            }
            }
      }
   
}